html {
  width: 100%;
  min-height: 100%;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
#root{
  width: 100%;
  height: 100%;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px white;
  padding: 10px 20px;
}
main {
  width: 100vw;
  height: 100%;
}
#searchUI {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 30px;
  border-radius: 5px;
  padding: 2px 10px;
  background-color: white;
}
#searchInput {
  width: 100%;
  border: none;
}
#searchBtn {
  height: 100%;
  aspect-ratio: 1/1;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
#searchIcon {
  height: 70%;
  aspect-ratio: 1/1;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 150px;
}
h1 {
  color: white;
  margin-bottom: 40px;
}
#listArea {
  display: grid;
  gap: 60px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
#moreBtn {
  background-color: red;
  border: none;
  border-radius: 10px;
  color: white;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.modal {
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
#modalHeader {
  justify-content: center;
  position: relative;
}
#modalUI {
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: #202020;
}
#movieTitle {
  color: white;
  font-weight: 700;
  justify-self: center;
  margin: 0;
}
#infoUI {
  width: 100%;
  height: 80%;
  display: flex;
  padding: 30px 10px 30px 30px;
}
#closeBtn {
  position: absolute;
  right: 15px;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: #404040;
  line-height: 30px;
  font-size: 30px;
  justify-self: flex-end;
  z-index: 1001;
}
.poster{
  border-radius: 20px;
  width: 100%;
}
.title{
  color: white;
  margin-top: 0;
  margin-bottom: 10px;
}
.score{
  display: flex;
  color: white;
  margin-bottom: 20px;
}
.star{
  justify-self: center;
}
.selectedPoster{
  height: 100%;
  margin-right: 30px;
}
.textArea{
  width: 55%;
  display: flex;
  flex-direction: column;
}
.selectedInfo{
  display: flex;
  align-content: center;
  margin-bottom: 10px;
}
.genre{
  color: white;
  margin-right: 10px;
}
.modalStar{
  display: inline-block;
  height: 100%;
}
.modalScore{
  color: white;
}
.overview{
  color: white;
  height: 80%;
}
.myScore{
  border-radius: 15px;
  background-color: #404040;
  height: 60px;
  line-height: 60px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  color: white;
  font-size: 15px;
  padding-left: 20px;
}
.scoreBoard{
  padding: 0px 15px;
  display: flex;
  height: 100%;
  align-content: center;
  flex-wrap: wrap;
}
.scoreBtn{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 55%;
  padding: 0;
}
.btnImg{
  height: 100%;
}
.myScoreNum{
  color: white;
  font-size: 15px;
}
